// =================================================================
// 	Sovereign Agricultural 
// 	Forms
// =================================================================

form {
	padding-top: 10px;

	.form-half {
		width: calc(50% - 15px);
		float: left;
		margin-right: 30px;

		&:nth-child(even) {
			margin-right: 0;
		}
	}

	input[type="text"], input[type="email"], input[type="tel"], input[type="submit"], textarea, button {
		width: 100%;
		padding: 15px 15px;
		margin: 20px 0;
		font-family: $base-font-family;
		border: 1px solid #777777;
		background: #EEF0F1;
		border: 0;
		font-size: 0.9em;
		box-sizing: border-box;
		border-radius: 0;
		-webkit-appearance: none;
   		-moz-appearance: none;
   		appearance: none;

		&:focus {
			outline: 0;
			border: 0;
			background: darken(#EEF0F1, 5%);
		}
	}

	input[type="submit"] {
		width: 200px;
		margin-top: 0;
		float: right;
		background: $colorOne;
		text-transform: uppercase;
		font-weight: 600;
		color: #fff;

		&:hover {
			background: $colorTwo;
		}
	}

	label {
		color: $colorType;
	}

	textarea {
		resize: none;
	}

	button {
		width: intrinsic;
		padding: 15px 30px;
		max-width: 150px;
		background: $colorType;
		cursor: pointer;
		color: #fff;
		@include transition(all, 0.5s, ease-in-out);
		float: right;

		&:hover {
			background: darken($colorType, 10%);
			cursor: pointer;
		}
	}
}

#form-messages {
	float: left;
	display: block;
	width: calc(100% - 100px);
	margin-top: 20px;
	color: $colorType;
	line-height: 1.4;
}

#form-messages.error {
	color: $colorOne;
}

#form-messages.success {
	color: #3FBC33;
}