// =================================================================
// 	Sovereign Agricultural
// 	Links
// =================================================================

.btn-one {
	background: $colorTwo;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	padding: 15px 15px 15px 15px;
	height: auto;
	overflow: hidden;
	text-decoration: none;
	font-weight: 600;
	@include transition(all, 0.3s, ease-in-out);

	&:hover {
		background: $colorOne;
	}
}

.back-btn {
	position: absolute;
	bottom: 0;
	left: 19%;
	z-index: 10;
	padding: 30px 0;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
}