// =================================================================
// 	Sovereign Agricultural
// 	Base
// =================================================================

html {
	font-size: 1.1em;
}

body {
	 -webkit-font-smoothing: antialiased;
	position: relative;
	background: $colorWhite;
}

.page-wrap {
	max-width: 2200px;
	margin: 0 auto;
	position: relative;
	background: $colorWhite;
	background: #ffffff url("img/texture.png") no-repeat center center;
	background-size: 100% auto;
}