// =================================================================
// 	Sovereign Agricultural 
// 	Colors
// =================================================================

$colorWhite: #FDFDFD;
$colorBlack: #000;
$colorType: #3B3B3B;
$colorGrey: #333333;
$colorOne: #203B4F;
$colorTwo: #A32937;
