// =================================================================
// 	Sovereign Agricultural 
// 	image
// =================================================================

.image {
	 @include aspect-ratio(16, 9);
	 width: 100%;
	 display: block;
	 background: #f2f2f2;
	 @include transition(all, 0.4s, ease-in-out);
	 overflow: hidden;
	 position: relative;

	  img {
	 	position: absolute;
	 	top: 0;
	 	left: 0;
	 	width: 100%;
	 	height: auto;
	 }
}

.image-square {
	 @include aspect-ratio(1, 1);
	 width: 100%;
	 display: block;
	 background: #f2f2f2;
	 @include transition(all, 0.4s, ease-in-out);
	 overflow: hidden;
	 position: relative;
	 box-shadow: 0px 0px 3px rgba(0,0,0,0.3);

	 img {
	 	position: absolute;
	 	top: 0;
	 	left: 0;
	 	width: auto;
	 	height: 100%;
	 }
}